@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~bootstrap/dist/css/bootstrap.min.css";
:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #000000;
  --first-color-light: #afa5d9;
  --white-color: #fff;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
  --footer-height: 8rem;
}
@font-face {
  font-family: "jacobs_font";
  src: url("../assests/fonts/JacobsChronos_Rg.ttf") format("truetype");
}

*,
::before,
::after {
  box-sizing: border-box;
}

.Header-template-main {
  margin-left: 4rem;
  width: 95.6vw;
}

input{
  /* border:solid 1px black; */
}

/* ---------------------------------------------------
    LOGIN STYLE
----------------------------------------------------- */

.login-main {
  width: 100%;
  background-color: white;
  color: white;
  position: relative;
  background: url("https://c4.wallpaperflare.com/wallpaper/123/906/381/anime-landscape-city-buildings-realistic-wallpaper-preview.jpg");
}
.login-img {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
}
.login-box:hover {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.login-box:active {
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.login-checkbox {
  display: flex;
  justify-content: left;
  align-items: left;
  justify-items: center;
}
.login-checkbox > input:hover {
  cursor: pointer;
}
.login-heading {
  /* background-color: red; */
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: -20px;
  z-index: 100;
  background-color: transparent;
}
.login-heading > div {
  background-color: transparent;
  width:fit-content;
  padding:6px 12px;
  border-radius:4px;
}
.bg-black{
  background-color: black;
  color:white;
}
.bg-red{
  background-color: red;
  color:white;
}
.login-profile-pic{
  width:100%;
  display:flex;
  justify-content: center;
}
.login-profile-pic > img {
  height: 100px;
  filter: grayscale(1);
}
.login-main-sub {
  background: linear-gradient(
    -205deg,
    rgb(67, 214, 255),
    rgb(41, 191, 255),
    rgb(48, 148, 255),
    rgb(52, 52, 255)
  );
}
.login-input {
  background-color: transparent;
  border-color: black;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  color: white;
}
.login-input:focus {
  background-color: transparent;
  border-color: white;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  color: white;
}
.login-button {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.login-button > button {
  background-color: white;
  color: black;
  border-radius: 30px;
  font-size: 17px;
  transition: 400ms;
  padding: 7px 20px;
}
.login-button > button:hover {
  background-color: white;
  color: black;
  border-radius: 30px;
  font-size: 17px;
  padding: 7px 20px;
  cursor: pointer;
  transform: scale(1.05);
  transition: 400ms;
}

.header {
  width: 100%;
  /* height: var(--header-height); */
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0rem;
  background-color: var(--first-color) !important;
  z-index: var(--z-fixed);
  transition: 0.5s;
  height: calc(var(--header-height) + 1rem);

  .nav-menu{
    color: var(--first-color);

    position: relative;
    left: 20rem;

  }
    .nav-item {
      padding: 10px;
      font-size: var(--normal-font-size);
      color: var(--first-color);
      text-decoration: none;
    }
}
.tabs-grid-main{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 2rem;
  h2 {
    color: var(--first-color);
  }
}

.container-P {
  position: relative;
  display: inline-block;
  position: relative;
  overflow: visible;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.menu-P {
  position: absolute;
  top: 45px; /* Adjust according to your profile picture size */
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-right: 2px;
  width: 100px;
  border: solid 1px rgb(215, 215, 215);
  border-radius: 10px;
}

.menu-P ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-P ul li {
  padding: 8px 16px;
  cursor: pointer;
}

.menu-P ul li:hover {
  background-color: #f1f1f1;
}

.menu-P ul li a {
  text-decoration: none;
  color: black;
  display: block;
}

.logout-P {
  color: red;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 18px;
}
.header_img:hover {
  cursor: pointer;
}
.header_img img {
  width: 40px;
}
/*
    DEMO STYLE
*/

/* @import "https://fonts.googleapis.com/css?family=jacobs_font:300,400,500,600,700"; */
body {
  font-family: "jacobs_font";
  background: #eee;
}

p {
  font-family: "jacobs_font";
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
.navbar-li{
  /* border-color: grey; */
  /* border-width:0px 0px 1px 0px; */
  /* border-style: solid; */
}
.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  /* min-width: 250px;
    max-width: 250px; */
  bottom: 0;
  position: fixed;
  top: 0;
  background: #fff;
  background-color: rgb(0, 2, 16);
  /* color: #000; */
  transition: all 0.3s;
  /* width: 4rem; */
  /* border-right:solid 1px rgb(182, 182, 182); */
}
.sidebar-logo {
  padding: 0px;
}
.sidebar-logo-ui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 100%;
  text-align: center;
  padding-top: 1.1rem;
}
.sidebar-logo-li {
  /* border: solid 1px rgb(185, 185, 185); */
  padding: 0.75rem;
  border-top: none;
  border-right: none;
  border-left: none;
}
.sidebar-logo-li:hover {
  cursor: pointer;
}
.sidebar-logo-li-active {
  background-color: #263c9c;
}
#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  display: flex;
  justify-content: left;
  justify-items: center;
  height: 63px;
  margin-left: 10px;
  /* padding: 20px;
  background: #6d7fcc; */
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386d5;
  /* background: #fff; */
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #263c9c;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

.container-H {
  position: relative;
}

.hamburger-H {
  width: 30px;
  cursor: pointer;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0xp;
}

.line-H {
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: all 0.3s ease;
}

.menu-H {
  position: absolute;
  top: 0;
  left: -250px; /* Hidden off-screen */
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;

}

.menu-H ul {
  list-style: none;
  padding: 0;
}

.menu-H ul li {
  margin: 0px 0;
}

.menu-H ul li a {
  text-decoration: none;
  color:white;
}

.open-H {
  left: 0; /* Slide in from the left */
}

.closeButton-H {
  /* position: absolute; */
  top: 10px;
  /* right: 10px; */
  background: none;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.dash-table-row {
  border: solid 1px rgb(185, 185, 185);
  margin: 0px;
  gap: 0px;
  padding: 10px;
}

.dash-table-row:nth-child(even) {
  margin: 0px;
  gap: 0px;
  padding: 10px;
  background-color: #def2ff;
}
.dash-table-row:hover {
  margin: 0px;
  gap: 0px;
  padding: 10px;
  background-color: #f6fbff;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

/* ---------------------------------------------------
    NAVLINKS
----------------------------------------------------- */
.nav-link {
  background-color: #263c9c;
  color: #fff;
  margin: 0 5px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #4e67d4;
}
.nav {
  --bs-nav-link-hover-color: #b0b9c2;
}
.form-control {
  border: var(--bs-border-width) solid var(--bs-border-color);
}

:root,
[data-bs-theme="light"] {
  --bs-border-color: #c6c5c5;
}

.form-control {
  border: var(--bs-border-width) solid var(--bs-border-color);
}

:root, [data-bs-theme=light] {
  --bs-border-color: #c6c5c5;
}