@import "~bootstrap/dist/css/bootstrap.min.css";
:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #4723d9;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --body-font: "Nunito", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
  --footer-height: 8rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.header {
  width: 100%;
  /* height: var(--header-height); */
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--first-color) !important;
  z-index: var(--z-fixed);
  transition: 0.5s;
  height: calc(var(--header-height) + 1rem);

  .nav-menu {
    color: var(--white-color);

    position: relative;
    left: 20rem;

    .nav-item {
      padding: 10px;
      font-size: var(--normal-font-size);
      color: var(--white-color);
      text-decoration: none;
    }
  }
}
.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
  padding: 2rem;
  h2 {
    color: var(--white-color);
  }
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header_img img {
  width: 40px;
}
