/* ---------------------------------------------------
    NAVLINKS
----------------------------------------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link{
  background-color:#263c9c;
  color: #fff;
  margin: 0 5px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color:#4e67d4;
}
.nav{
  --bs-nav-link-hover-color: #b0b9c2;
}

.form-control {
  border: var(--bs-border-width) solid var(--bs-border-color);
}

:root, [data-bs-theme=light] {
  --bs-border-color: #b8b8b8;
}
